/* @override http://localhost:8080/stylesheets/screen.css */

html {
    background: #eee url(../images/bg.png) repeat;
}

body {
    margin: 0 auto;
    width: 910px;
}

h1, h2, h3 {
    font-family: 'Geo', arial, serif;
    color: #FFF;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-top: 50px;
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
	padding-bottom: 3px;
}

hr {
  	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

div, p, ol, ul {
    font-family: 'Geo', Helvetica, arial, sans-serif;
    color: #FFF;
    line-height: 1.4em;
    font-size: 18px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

h1, h2 {
  padding-left: 55px;
}

#h_feature {
  background: url(../images/h_feature.png) 30px 0 no-repeat no-repeat;
}

#h_usage {
  background: url(../images/h_usage.png) 30px 0 no-repeat no-repeat;
}

#h_faq {
  background: url(../images/h_faq.png) 30px 0 no-repeat no-repeat;
}

#paper {
	background: #eee url(../images/paper_repeat.png) top left repeat-y;
	margin-top: 30px;
}

#header {
	background: url(../images/paper_header.png) top left no-repeat;
}

#footer {
	background: url(../images/paper_footer.png) bottom left no-repeat;
	padding-bottom: 30px;
}

#content {
	padding: 60px 54px 0 56px;
}

#page_footer {
	font-size: 14px;
	color: #474747;
	font-family: 'Lobster', arial, serif;
	padding: 0px 70px 40px;
	text-shadow: none;
	text-align: right;
}

#page_footer a {
  	color: #999;
}

#content > p, #content > ul, #content > ol, #content > div {
  	padding-left: 4em;
}

ul {
    list-style: none;
}

ul li {
  	margin-left: 0em;
}

strong {
    font-weight: bold;
}

em {
  	text-decoration: underline;
	font-style: normal;
}

a {
    color: #FFCC00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logins {
	display: block;    
	position: relative;
	height: 300px;
}

#logins div#sync {
	position: absolute;
	left: 365px;
	top: 100px;
	width: 70px;
	height: 70px;
	background-image: url(../images/sync.png);
	opacity: 0.1;
}

#logins div#sync.enabled {
	position: absolute;
	left: 365px;
	top: 100px;
	width: 70px;
	height: 70px;
	background-image: url(../images/sync.png);
	opacity: 0.8;
}

#logins div.button {
	width: 200px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

#logins .login div.button {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 0.2;
	cursor: pointer;
}


#logins .login div.button:hover {
	opacity: 1.0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

div#twitter_login {
	position: absolute;
	left: 110px;
	top: 45px;
	text-align: center;
	line-height: 2em;
}

div#weibo_login {
	position: absolute;
	left: 490px;
	top: 45px;
	text-align: center;
	line-height: 2em;
}

div#twitter_login > div {
    background: url(../images/twitter_logo.png) top left no-repeat;
}

div#weibo_login > div {
    background: url(../images/weibo_logo.png) top left no-repeat;
}

div#message {
    clear: both;
    padding-left: 0;
    text-align: center;
    font-size: 30px;
}


