<div style="margin-top: 100px;"></div>
<h1><a href="/">Home</a> » 500 - Something Is Wrong!</h1>

<div id="message" class="middle">Something is wrong in the system. We'll take a look at it ASAP.</div>
<div style="margin-bottom: 200px;"></div>
