<h1><a href="/">Home</a> » User Settings » $user_id</h1>

<p>Link your Twitter &amp; Weibo account here.</p>

<div id="logins">
    <div id="twitter_login"><div class="button"></div>
        #if ($twitter_login)
            @$twitter_user.screenName
        #else
        Not Linked Yet
        #end
    </div>
    <div id="sync" class="#if ($weibo_login && $twitter_login) enabled #end"></div>
    <div id="weibo_login"><div class="button"></div>
        #if ($weibo_login)
            @$weibo_user.screenName
        #else
            Not Linked Yet
        #end
    </div>
</div>
#if ($weibo_login && $twitter_login) <div id="message">You are ready to go!</div> #end

<h2>Options</h2>


<script type="text/javascript">
    $(document).ready(function() {

    #if (!$twitter_login)
        $('#twitter_login').addClass('login');
        $('#twitter_login').click(function(e) {
            window.location = "/auth/twitter";
        });
    #end

    #if (!$weibo_login)
        $('#weibo_login').addClass('login');
        $('#weibo_login').click(function(e) {
            window.location = "/auth/weibo";
        });
    #end

    });
</script>
