<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Geo&v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster&v1' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/reset-min.css" type='text/css'/>
    <link rel="stylesheet" href="/stylesheets/screen.css" type='text/css'/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.placehold.min.js"></script>
    <title>Twitter 2 Weibo</title>
</head>

<body>
<div id="paper">
    <div id="header">
        <div id="footer">
            <div id="content">
                $screen_content
            </div>
        </div>
    </div>
</div>
<div id="page_footer">
    © 2011, a <a href="http://jyorr.com">Rakuraku Jyo</a> 200/0 Project
</div>

</body>

</html>
