<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.rakutec.weibo.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SyncServlet</servlet-name>
        <servlet-class>com.rakutec.weibo.SyncServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SyncServlet</servlet-name>
        <url-pattern>/cron/sync</url-pattern>
    </servlet-mapping>
</web-app>
