<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta property="wb:webmaster" content="369f438866ce5f53" />
    <link href='http://fonts.googleapis.com/css?family=Geo&v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster&v1' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/reset-min.css" type='text/css'/>
    <link rel="stylesheet" href="/stylesheets/screen.css" type='text/css'/>
    <link rel="stylesheet" href="/stylesheets/smoke.css" type='text/css'/>
    <link rel="stylesheet" id="theme" href="/stylesheets/smoke-100s.css" type='text/css'/>
    <script type="text/javascript" src="/javascripts/smoke.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <title>$!page_title</title>
</head>

<body>
<div id="paper">
    <div id="header">
        <div id="footer">
            <div id="content">
                $screen_content
            </div>
        </div>
    </div>
</div>
<div id="page_footer">
    © 2011, a <a href="http://jyorr.com">Rakuraku Jyo</a> 20% Project.
</div>

</body>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4ecbc293613f5d1d57000005');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</html>
