<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>SyncServlet</servlet-name>
        <servlet-class>com.rakutec.weibo.SyncServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SyncServlet</servlet-name>
        <url-pattern>/cmd/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.rakutec.weibo.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.rakutec.weibo.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/u/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OAuthCallbackServlet</servlet-name>
        <servlet-class>com.rakutec.weibo.CallbackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OAuthCallbackServlet</servlet-name>
        <url-pattern>/callback/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>velocity</servlet-name>
        <servlet-class>
            org.apache.velocity.tools.view.VelocityLayoutServlet
        </servlet-class>

        <!--
          Unless you plan to put your toolbox.xml and velocity.properties
          under different folders or give them different names, then these
          two init-params are unnecessary as of VelocityTools 1.3.  The
          VelocityViewServlet will automatically look for these files in
          the following locations.
        -->
        <!--<init-param>-->
        <!--<param-name>org.apache.velocity.toolbox</param-name>-->
        <!--<param-value>/WEB-INF/toolbox.xml</param-value>-->
        <!--</init-param>-->

        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.rakutec.weibo.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/u/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.rakutec.weibo.AdminFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/cmd/*</url-pattern>
    </filter-mapping>
    <!-- Map *.vm files to Velocity -->
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextInitializerClasses</param-name>
        <param-value>org.cloudfoundry.services.CloudApplicationContextInitializer</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.vm</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.vm</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.vm</location>
    </error-page>

</web-app>
