#set ($page_title = "Twitter 2 Weibo")
<h1>$page_title</h1>

<p>Welcome! This app syncs what you tweet from Twitter to Sina Weibo.</p>

<h2 id="h_feature">Features</h2>

<ul>
    <li># Use oauth to connect to Weibo, no need for user/password</li>
    <li># Sync in less than 2 minutes</li>
    <li># Drop tweets with @somebody style metions</li>
    <li># Sync geolocation information</li>
    <li># Auto post photos to Weibo, with supports for yfrom, twitpic, instagram and img.ly</li>
    <li># Auto expand bit.ly URL</li>
    <li># Auto translate twitter style #tag to weibo style #tag#</li>
</ul>

<h2 id="h_usage">Usage</h2>

<div>
    #if ($session.SESSION_LOGIN_USER)
        #set ($user = $session.SESSION_LOGIN_USER)
        Logged in as <a href="http://twitter.com/$user">@$user</a>. You can <a href="/u/$user">change your options for sync</a>, or <a href="/u/logout">logout</a>.</li>

    #else
        Just <button class="clean-gray" id="go_button">Login with Twitter ...</button>, that's it!
    #end
</div>

<h2 id="h_faq">FAQ</h2>

<ul class="qa">
    <li><strong>Q:</strong> What if I get error message from Sina API</li>
    <li><strong>A:</strong> Refresh your browser. If still not working, contact me <a href="http://twitter.com/xu_lele">@xu_lele</a></li>
</ul>

<ul class="qa">
    <li><strong>Q:</strong> Why my tweet like &quot;I support 32 * 2 ...&quot; is missing</li>
    <li><strong>A:</strong> Weibo made the decision.</li>
</ul>

<h2 id="h_credits">Credits</h2>

<ul class="qa">
    <li># Thank <a href="http://twitter.com/baotuo">@baotuo</a> for helping me out with JedisPool.</li>
    <li># Thank VMWare and CloudFoundry for this great PaaS platform.</li>
</ul>
<script type="text/javascript">
    $(document).ready(function() {
        $('#go_button').bind('click', function(e) {
            window.location = '/auth/twitter';
        });
    });
</script>
